<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>PKavounas Final</title>


    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">

    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>

    <!-- Popper JS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>

    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</head>

<body>
    <div class="container">
        <div class="row">
            <div class="col-md-6 m-auto text-center">
                <h1 class="text-center" style="margin-top: 5px;">Mongo Test</h1>
                <form action="/upload" method="POST" enctype="multipart/form-data">
                    <div class="custom-file mb-4">
                        <input type="file" name="file" id="file" class="custom-file-input">
                        <label for="file" class="custom-file-label">Choose a file</label>
                    </div>
                    <input type="submit" value="Submit" class="btn btn-primary" > 
                </form>
                <br><br>

                <!-- JS LOGIC FOR WHAT TO DISPLAY -->
                <% if(files){ %>
                    <% files.forEach(function(file) { %>
                      <div class="card card-body mb-3">
                        <% if(file.isImage) { %>
                          <img src="image/<%= file.filename %>" alt="">
                          <% } else { %>
                            <%= file.filename %>
                              <% } %>
                                <form method="POST" action="/files/<%= file._id %>?_method=DELETE">
                                  <button class="btn btn-danger btn-block mt-4">Delete</button>
                                </form>
                      </div>
                      <% }) %>
                        <% } else { %>
                          <p>No files to show</p>
                          <% } %>
            </div>
        </div>
    </div>



</body>

</html>